p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  font-family: Roboto, Arial;
  margin: 0;
  padding: 80px 24px 30px 95px;
  background-color: rgb(248, 248, 248);
}
.video-link{
  text-decoration: none;
  color: black;
}