.header{
  height:55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.left-section{
  display: flex;
  align-items: center;
}
.menu{
  height: 24px;
  margin: 0 24px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 800px;
  display: flex;
  align-items: center;
}
.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192,192,192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder{
  font-size: 16px;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(192,192,192);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}
.search-bar,
.voice-button,
.upload-icon-container,
.notification-icon-container,
.notification-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-button .tool-tip,
.voice-button .tool-tip,
.upload-icon-container .tool-tip,
.notification-icon-container .tool-tip,
.notification-container .tool-tip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tool-tip,
.voice-button:hover .tool-tip,
.upload-icon-container:hover .tool-tip,
.notification-icon-container:hover .tool-tip,
.notification-container:hover .tool-tip{
  opacity: 1;
}
.search-icon{
  height: 25px;
}
.voice-button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}
.voice-icon{
  height: 24px;
}
.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon{
  height: 24px;
  cursor: pointer;
}
.apps-icon{
  height: 24px;
  cursor: pointer;
}
.notification-icon{
  height: 24px;
  cursor: pointer;
}
.notification-container{
  position: relative;
}
.notification-count{
  position: absolute;
  top: -2px;
  right: -5px;
  color: white;
  background-color: rgb(201, 0, 0);
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.user-icon{
  height: 28px;
  width: 28px;
  object-fit:cover;
  border-radius: 14px;
  cursor: pointer;
}