.sidebar{
  background-color: white;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  border-right: 1px solid rgb(226, 226, 226);
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover{
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}
.sidebar-link div{
  font-size: 10px;
}