.thumbnail{
  width: 100%;
  border-radius: 7px;
}
.title{
  font-size: 14px;
  font-weight:600;
  line-height: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
  cursor: pointer;
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}
.author ,
.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.author{
  margin-bottom: 4px;
  cursor: pointer;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 35px;
}
@media (max-width: 750px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
} 
@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.video-time{
  font-size: 12px;
  font-weight: 550;
  padding: 4px 4px;
  color: white;
  background-color: black;
  border-radius: 3px;
  position: absolute;
  bottom: 8px;
  right: 5px;
}